input[type=text], select {
    width: 30%;
    padding: 12px 20px;
    margin: 0 35%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

h1 {
    text-align:center;
    color: green;
}

button {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 3% 35%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align:center;
}

label {
    margin: 0px 35%;
    text-align: left;
    color: gray;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    width: 100%;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: auto;
}
