
div.divClass1{
  text-align: center;
  color: #9500ff;
}
button.submit{
  width: 100px;
  background-color: deepskyblue;

}
.center-block1{
  text-align: center;
}
.center-block2{
  text-align: center;
}
.center-block3{
  text-align: center;
  size: 50px;
}
.cabin {
  background-color: green;
}
