<br>
<div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" style="font-weight: bold">Covid-19 Info Board</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li style="padding-left: 30%;" class="nav-item active">
                    <a class="nav-link" href="#">Table <span class="sr-only">(current)</span></a>
                </li>
                <li style="padding-left: 30%;" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Graph
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">Line</a>
                      <a class="dropdown-item" href="#">Bar</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li style="padding-left: 30%;" class="nav-item">
                    <a class="nav-link" href="#">Test</a>
                </li>
                <li style="padding-left: 30%;" class="nav-item">
                    <a class="nav-link" href="#">Sharing</a>
                </li>
                <li style="padding-left: 30%;" class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
            </ul>
        </div>
    </nav>

    <hr>


    <!-- <div style="text-align:center;"> -->
        <!-- <h1 class="h3"><i class="fas fa-hands-wash" style="font-size: 40px; "></i>&nbsp;&nbsp;Covid-19 Information -->
            <!-- Board&nbsp;&nbsp;<i class="fas fa-user-nurse" style="font-size: 40px;"></i></h1> -->

        <br>
        <!-- <p id="plots" class="h5"> CSC 436 - Group 5</p> -->
        <br>
        <!-- <p><em><a href="Login.html">Login in</a></em> </p> -->
        <!-- <app-login></app-login> -->
        <!-- <p><em><a href="BarChart.html">Comparison of Selected States</a></em> </p> -->
        <!-- <p [style.display]="'block'"><em><a href="LineChart.html">Trends of Selected States</a></em> </p> -->
        <!-- <p><em><a href="Heatmap.html">Heatmap of Entrire US</a></em> </p> -->
        <!-- <p><em><a href="https://www.amboss.com/us/knowledge/COVID-19_%28coronavirus_disease_2019%29">Covid -->
                    <!-- knowledge</a></em> </p> -->


    <!-- </div> -->



    <app-chart></app-chart>
    <hr>
    <p [style.display]="'block'"><em><a href="LineChart.html">Trends of Selected States</a></em> </p>
    <hr>
    
    <!-- <ng-container *ngIf="show"> -->
        <div style="text-align:center;" [style.display]="'block'">
            <p class="h3" style="font-family: Times, serif;">Tables of Each State</p>
            <br>

            <form>
                <div class="form-group row mx-auto" style="width: 70%;">
                    <div class="col"> Data Type
                        <select class="form-control" [(ngModel)]="dataType" name="dataType">
                            <option value="ORD"> Death </option>
                            <option value="CDC"> Positive Case </option>
                            <option value="OMG"> Recovery </option>
                        </select>
                    </div>
                    <div class="col"> Sort Method
                        <select class="form-control" [(ngModel)]="sortMethod" name="sortMethod">
                            <option value="ORD"> Highest </option>
                            <option value="CDC"> Lowest </option>
                        </select>
                    </div>
                    <div class="col">Number of selections
                        <input class="form-control" id="numberOfSelect" type="number" [(ngModel)]="numberOfSelect"
                            name="numberOfSelect">
                    </div>
                </div>
            </form>
            <br>
            <button type="button" class="btn btn-info btn-circle btn-xl"> Search </button>
            <!-- </div> -->

            <br>
            <hr>
            <div></div>
            <hr>

            <br>
            <br>

            <!-- Table & Data Seclet -->

            <table border="0" style=" margin-left: auto; margin-right: auto; width:80%">
                <thead>
                    <tr>
                        <th>States</th>
                        <th>Total positieve cases</th>
                        <th>Total death cases</th>
                        <th>Total recoved cases</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Illinois </td>
                        <td>10086</td>
                        <td>1900</td>
                        <td>1500</td>
                    </tr>

                    <tr>
                        <td>California </td>
                        <td>12000</td>
                        <td>1000</td>
                        <td>3600</td>
                    </tr>
                    <tr>
                        <td>Texas </td>
                        <td>11000</td>
                        <td>1000</td>
                        <td>1800</td>
                    </tr>
                </tbody>
            </table>

            <br>
            <br>
            <input id="dateOfData" type="date" [(ngModel)]="dateOfData" name="dateOfData">
            <button type="button" class="btn btn-info btn-circle btn-xl"> Update </button>
        </div>
    <!-- </ng-container> -->


</div>