<br>
<div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" style="font-weight: bold">Covid-19 Info Board</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li style="padding-left: 30%;" class="nav-item active">
                    <a class="nav-link" [routerLink]="['/Table']">Table <span class="sr-only">(current)</span></a>
                </li>
                <li style="padding-left: 30%;" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Graph
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" [routerLink]="['/LineC']">Line</a>
                      <a class="dropdown-item" [routerLink]="['/BarC']">Bar</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li style="padding-left: 30%;" class="nav-item">
                    <a class="nav-link" href="#">Test</a>
                </li>
                <li style="padding-left: 30%;" class="nav-item">
                    <a class="nav-link" href="#">Sharing</a>
                </li>
                <li style="padding-left: 30%;" class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
            </ul>
        </div>
    </nav>

    <hr>


    
    <hr>
    <router-outlet></router-outlet>

    <hr>



</div>
